/* Header */

body,
body.page-header-fixed,
.page-content {
	background-color: #ddd;
}
.page-header-fixed .page-header.navbar,
.head,
.page-footer {
	background: #4f4f4f;
}
div.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
	background-color:rgba(0, 0, 0, 0.3);
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
	background-color:rgba(0, 0, 0, 0.5) !important;
}
/* dropdown-menu */
.dropdown-menu {
	background-color: #333;
	border: 1px solid #333;
	-webkit-box-shadow:3px 6px 12px rgba(0, 0, 0, 0.8);
	box-shadow:3px 6px 12px rgba(0, 0, 0, 0.8);
	margin-top:0;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu::after {
	border-bottom:6px solid #333;
}
.dropdown-menu li > a,
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu > li > a {
	border-bottom: 1px solid #111;
	color: #FFF;
	padding:15px;
	line-height:normal;
}
.dropdown-menu li > a, .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu > li:last-child > a {
	border-bottom:0;
}
.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover {
	background-color: #111;
	color: #FFF;
}

/* Title */
.lb {
	background: #8c8c8c;
	color: #FFF;
}
.portlet.box.blue-madison > .portlet-title {
	background: #eee;
	color: #888;
}
ul.page-breadcrumb.breadcrumb {
	background-color: transparent;
}
ul.page-breadcrumb.breadcrumb > li > a,
 ul.page-breadcrumb.breadcrumb > li > span {
	color: #666;
}
ul.page-breadcrumb.breadcrumb > li > i {
	color: #666;
}

/* Sidebar Menu */
.page-sidebar .page-sidebar-menu > li {
	border-bottom: 1px solid #888 !important;
}
.page-sidebar .page-sidebar-menu li a {
	background-color: #333 !important;
}
.page-sidebar .page-sidebar-menu li .sub-menu {
	background-color: #444 !important;
}
.page-sidebar .page-sidebar-menu li .sub-menu li {
	border-top: 0px solid #CCC !important;
	border-bottom: 1px solid #666 !important;
}
.page-sidebar .page-sidebar-menu li .sub-menu li:hover .sub-menu {
	background-color: #777 !important;
}
.page-sidebar .page-sidebar-menu li .sub-menu li:hover .sub-menu li {
	border-bottom: 1px solid #555 !important;
}
.page-sidebar .page-sidebar-menu li .sub-menu li .sub-menu li:hover .sub-menu {
	background-color: #999 !important;
}
.page-sidebar .page-sidebar-menu li .sub-menu li .sub-menu li:hover .sub-menu li {
	border-bottom: 1px solid #777 !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, 
.page-sidebar .page-sidebar-menu > li:hover > a, 
.page-sidebar .page-sidebar-menu > li.open > a {
	background: #222 !important;
	color: #fff !important;
}
body .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, 
body .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, 
body .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, 
body .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, 
body .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
	background: #111 !important;
	color: #fff !important;
}

/*  datetime_section */
.datetime_section .date,
.page-container .datetime_section .date  {
	color: #ccc;
}
.datetime_section .time,
.page-container .datetime_section .time {
	color: #ccc;
}

/* Button */
.btn.bg-blue-chambray {
	color: #fff;
	background-color: #00a8ff;
	border-color:#00a8ff;
}
.btn.default {
	color: #fff;
	background-color: #00a8ff;
}
.btn.default:hover, 
.btn.default:focus, 
.btn.default:active, 
.btn.default.active {
	color: #333333;
	background-color: #d6d6d6;
}
.open .btn.default.dropdown-toggle {
	color: #333333;
	background-color: #d6d6d6;
}
.btn.default:active, .btn.default.active {
	background-image: none;
}
.open .btn.default.dropdown-toggle {
	background-image: none;
}
.btn.default.disabled, 
.btn.default.disabled:hover, 
.btn.default.disabled:focus, 
.btn.default.disabled:active, 
.btn.default.disabled.active, 
.btn.default[disabled], 
.btn.default[disabled]:hover, 
.btn.default[disabled]:focus, 
.btn.default[disabled]:active, 
.btn.default[disabled].active, 
fieldset[disabled] .btn.default, 
fieldset[disabled] .btn.default:hover, 
fieldset[disabled] .btn.default:focus, 
fieldset[disabled] .btn.default:active, 
fieldset[disabled] .btn.default.active {
	background-color: #e5e5e5;
}
.btn.default .badge {
	color: #e5e5e5;
	background-color: #333333;
}

/* Form */
.form-control {
	color: #333333;
	background-color: #FFF;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	height:32px !important;
}
.form-control:focus {
	border-color: #aaa;
	outline: none;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	color:#000;
}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #eeeeee;
}



