

/* Fixed navigation
---------------------------------- */
.fixed-header-on .header.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	filter: alpha(opacity=0);
	//border-bottom: 1px solid #f1f1f1;
	padding: 7px 0;
	background-color:none;
}
.fixed-header-on.boxed .header.fixed {
	left: auto;
}
.fixed-header-on .header .logo {
	-webkit-transform: scale(0.80);
	-moz-transform: scale(0.80);
	-ms-transform: scale(0.80);
	-o-transform: scale(0.80);
	transform: scale(0.80);
	margin: 2px 0 -4px 0;
	display: none;
}
.fixed-header-on .header .site-slogan {
	display: none;
}
.fixed-header-on .header .navbar.navbar-default {
	margin: 0;
}
.fixed-header-on .header.fixed.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.fixed-header-on.boxed .header.fixed {
		width: 750px;
	}
}

/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width:992px) {
	.fixed-header-on .header .logo {
		display: block;
	}
	.fixed-header-on.boxed .header.fixed {
		width: 970px;
	}
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width:1200px) {
	.fixed-header-on.boxed .header.fixed {
		width: 1170px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/* Fixed header position */
	.header.fixed {
		position: relative !important;
		top: auto !important;
	}
}

/* Miscellaneous
---------------------------------- */
.pl-5 {
	padding-left: 5px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-20 {
	padding-left: 20px;
}
.pr-5 {
	padding-right: 5px;
}
.pr-10 {
	padding-right: 10px;
}
.pr-20 {
	padding-right: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.space {
	padding-top: 20px;
	padding-bottom: 20px;
}
.space-top {
	padding-top: 20px;
}
.space-bottom {
	padding-bottom: 20px;
}
.margin-clear {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.padding-top-clear {
	padding-top: 0 !important;
}
.padding-bottom-clear {
	padding-bottom: 0 !important;
}
.border-clear {
	border: none !important;
}
.separator {
	display: block;
	width: 60px;
	height: 5px;
	margin: 15px auto 15px;
	background-color: #cccccc;
	position: relative;
	border: 1px solid #cccccc;
}
.separator:after {
	width: 30px;
	height: 5px;
	background: #333333;
	position: absolute;
	top: -1px;
	left: -1px;
	content: "";
}
.separator-2 {
	display: block;
	width: 30px;
	height: 5px;
	margin: 15px 0 15px;
	background-color: #cccccc;
	position: relative;
}
.sidebar .separator {
	width: 30px;
	height: 5px;
	margin: 15px 0 20px;
	background-color: #666;
	border-color: #666;

/* Header top dropdowns
---------------------------------- */
.header-top-dropdown {
	float: right;
	font-size: 0;
	text-align: right;
}
.header-top-dropdown .dropdown>button {
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid transparent;
}
.header-top-dropdown .dropdown:last-child>button {
	border-right-color: transparent;
}
.header-top-dropdown .dropdown>button {
	padding: 8px 10px;
	margin: 0;
	font-size: 12px;
	color: #999;
	text-align: center;
	min-width: 0;
	background-color: transparent;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-transform: none;
}
.header-top-dropdown .dropdown>button i {
	padding-right: 5px;
	width: 15px;
}
.header-top-dropdown .dropdown.open>button,
.header-top-dropdown .dropdown>button:hover {
	color: #0d8609;
	background-color: #fafafa;
	border-right-color: #e3e3e3;
}
.header-top-dropdown .dropdown:first-child.open>button,
.header-top-dropdown .dropdown:first-child>button:hover {
	border-left-color: #e3e3e3;
}
.header .header-top-dropdown .dropdown>button {
	padding: 3px 10px;
}
.header .header-top-dropdown .dropdown.open>button,
.header .header-top-dropdown .dropdown>button:hover {
	background-color: transparent;
}
.header .header-top-dropdown .dropdown:first-child.open>button,
.header .header-top-dropdown .dropdown:first-child>button:hover {
	border-left-color: transparent;
}
.header .header-top-dropdown .dropdown:last-child.open>button,
.header .header-top-dropdown .dropdown:last-child>button:hover {
	border-right-color: transparent;
}
.header .header-top-dropdown .dropdown-menu {
	margin-top: 27px;
}
.header-top-dropdown .dropdown-menu {
	z-index: 103;
	padding: 20px;
	min-width: 280px;
	margin-top: 0px;
}
.header-top-dropdown .search-box .form-group {
	margin-bottom: 0;
}
.header-top-dropdown form {
	margin: 0;
}
.header-top-dropdown .login-form span {
	margin: 0 3px;
}
.header-top-dropdown .login-form ul {
	padding-left: 0;
	list-style-position: inside;
	padding: 5px 0;
}
.header-top-dropdown .login-form .social-links {
	display: inline-block;
	margin: 0;
}
.header .header-top-dropdown {
	margin-top: 19px;
}
.fixed-header-on .header .header-top-dropdown {
	margin-top: 13px;
}
.fixed-header-on .header .header-top-dropdown .dropdown-menu {
	margin-top: 19px;
}

/* Sidebar/footer gallery block
---------------------------------- */
